<?xml version="1.0"?>

<launch>
    <arg name="map_file" default="$(find chibi20_2)/mapdata/goodmap.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>

    <param name="use_sim_time" value="false" type="bool"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find distance_based_localizer)/config/simulate.rviz" />
    <node pkg="rosbag" type="play" name="play" args="/home/amsl/bagfiles/with_yolo/wyroomba1.bag" />

    <!-- roomba1 -->
    <node pkg="distance_based_localizer" type="distance_based_localizer_ver2" name="distance_based_localizer_1" output="screen" >
        <remap from="/roomba/odometry" to="roomba1/roomba/odometry" />
        <remap from="/object_positions" to="roomba1/object_positions" />
        <remap from="/db_pose" to="roomba1/db_pose" />
        <remap from="/db_poses" to="roomba1/db_poses" />
        <remap from="/score" to="roomba1/score" />

        <param name="roomba_name" value="1" type="int" />
        <param name="particlce_num" value="300" type="int" />
        <param name="x_init" value="7.0" type="double" />
        <param name="y_init" value="1.0" type="double" />
        <param name="yaw_init" value="1.57" type="double" />
        <param name="bench" value="1.0" type="double" />
        <param name="fire" value="1.0" type="double" />
        <param name="big" value="1.0" type="double" />
        <param name="trash" value="1.0" type="double" />
        <param name="odom" value="20" type="double" />
        <param name="alpha_slow_th" value="0.001" type="double" />
        <param name="alpha_fast_th" value="0.1" type="double" />
        <param name="x_cov_init" value="0.8" type="double" />
        <param name="y_cov_init" value="0.8" type="double" />
        <param name="yaw_cov_init" value="0.8" type="double" />
        <param name="x_cov_1" value="0.1" type="double" />
        <param name="y_cov_1" value="0.1" type="double" />
        <param name="yaw_cov_1" value="0.1" type="double" />
        <param name="x_cov_2" value="0.01" type="double" />
        <param name="y_cov_2" value="0.01" type="double" />
        <param name="yaw_cov_2" value="0.02" type="double" />
        <param name="limit" value="100" type="int" />
        <param name="move_noise" value="0.2" type="double" />
        <param name="estimated_weight_th" value="1.8" type="double" />
    </node>

    <!-- roomba2 -->
    <!-- <node pkg="distance_based_localizer" type="distance_based_localizer_ver2" name="distance_based_localizer_2" output="screen" > -->
    <!--     <remap from="/roomba/odometry" to="roomba2/roomba/odometry" /> -->
    <!--     <remap from="/object_positions" to="roomba2/object_positions" /> -->
    <!--     <remap from="/db_pose" to="roomba2/db_pose" /> -->
    <!--     <remap from="/db_poses" to="roomba2/db_poses" /> -->
    <!--     <remap from="/front_roomba_pose" to="roomba2/front_roomba_pose" /> -->
    <!--     <remap from="/roomba/db_pose" to="roomba1/db_pose" /> -->
    <!--  -->
    <!--     <param name="particlce_num" value="300" type="int" /> -->
    <!--     <param name="x_init" value="7.0" type="double" /> -->
    <!--     <param name="y_init" value="0.5" type="double" /> -->
    <!--     <param name="yaw_init" value="1.57" type="double" /> -->
    <!--     <param name="bench" value="1.0" type="double" /> -->
    <!--     <param name="fire" value="1.0" type="double" /> -->
    <!--     <param name="big" value="1.0" type="double" /> -->
    <!--     <param name="trash" value="1.0" type="double" /> -->
    <!--     <param name="odom" value="1.0" type="double" /> -->
    <!--     <param name="alpha_slow_th" value="0.001" type="double" /> -->
    <!--     <param name="alpha_fast_th" value="0.1" type="double" /> -->
    <!--     <param name="x_cov_init" value="0.8" type="double" /> -->
    <!--     <param name="y_cov_init" value="0.8" type="double" /> -->
    <!--     <param name="yaw_cov_init" value="0.8" type="double" /> -->
    <!--     <param name="x_cov_1" value="0.1" type="double" /> -->
    <!--     <param name="y_cov_1" value="0.1" type="double" /> -->
    <!--     <param name="yaw_cov_1" value="0.1" type="double" /> -->
    <!--     <param name="x_cov_2" value="0.01" type="double" /> -->
    <!--     <param name="y_cov_2" value="0.01" type="double" /> -->
    <!--     <param name="yaw_cov_2" value="0.02" type="double" /> -->
    <!--     <param name="limit" value="200" type="double" /> -->
    <!--     <param name="move_noise" value="0.1" type="double" /> -->
    <!--     <param name="estimated_weight_th" value="1.8" type="double" /> -->
    <!-- </node> -->
</launch>

